.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.pipenv/
.poetry/

# PyInstaller
# Usually contains a build/ folder and a dist/ folder
build/
dist/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# dotenv
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mac
.DS_Store

# Thumbnails
Thumbs.db

# Local logs
*.log

# Profiles
.prof

# Editor backups
*~
*.swp
*.swo
/rc_assignmnet_6/
